@import "tailwindcss";
@import "keen-slider/keen-slider.min.css";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --radius: 0.625rem;
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --codebg: #f1f1f1f0;
  --primary-base: #fcfcfc;
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);

  --ch-0: light;
  --ch-1: #6e7781;
  --ch-2: #0550ae;
  --ch-3: #953800;
  --ch-4: #24292f;
  --ch-5: #8250df;
  --ch-6: #116329;
  --ch-7: #cf222e;
  --ch-8: #0a3069;
  --ch-9: #82071e;
  --ch-10: #f6f8fa;
  --ch-11: #ffebe9;
  --ch-12: #dafbe1;
  --ch-13: #ffd8b5;
  --ch-14: #eaeef2;
  --ch-15: #57606a;
  --ch-16: #ffffff;
  --ch-17: #eaeef280;
  --ch-18: #fdff0033;
  --ch-19: #1a85ff;
  --ch-20: #add6ff;
  --ch-21: #0969da;
  --ch-22: #f8fafc;
  --ch-23: #d1d5db;
  --ch-24: #8c959f;
  --ch-25: #afb8c133;
  --ch-26: #ffffffe6;

  /* Syntax Highlighting Colors (Light Mode) */
  --token-null: #000000;
  --token-operator: #000000;
  --token-boolean: #000000;
  --token-number: #000000;
  --token-property: #fdcc59;
  --token-tag: #f7801f;
  --token-punctuation: #000000;
  --token-template-string: #5bf8ee;
  --token-script: #ffcb8b;
  --token-selector: #c85e7c;
  --token-attr-name: #b392f0;
  --token-attr-value: #008422;
  --token-function-variable: #b392f0;
  --token-black: #000000;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --radius: 0.5rem;
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --codebg: #030608;
  --primary-base: #0a0a0a;

  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --ch-0: dark;
  --ch-1: #a1a1aa;
  --ch-2: #7dd3fc;
  --ch-3: #fb923c;
  --ch-4: #cbd5e1;
  --ch-5: #d8b4fe;
  --ch-6: #86efac;
  --ch-7: #f87171;
  --ch-8: #93c5fd;
  --ch-9: #fca5a5;
  --ch-10: #eff6ff;
  --ch-11: #450a0a;
  --ch-12: #052e16;
  --ch-13: #451a03;
  --ch-14: #111827;
  --ch-15: #a1a1aa;
  --ch-16: #0a0a0a;
  --ch-17: #6b72801a;
  --ch-18: #ffffff0b;
  --ch-19: #3b82f6;
  --ch-20: #155e75;
  --ch-21: #2563eb;
  --ch-22: #171717;
  --ch-23: #404040;
  --ch-24: #6b7280;
  --ch-25: #6b728066;
  --ch-26: #171717e6;

  /* Syntax Highlighting Colors (Dark Mode) */
  --token-null: #ffffff;
  --token-operator: #ffffff;
  --token-boolean: #ffffff;
  --token-number: #ffffff;
  --token-property: #fdcc59;
  --token-tag: #66befd;
  --token-punctuation: #ffffff;
  --token-template-string: #5bf8ee;
  --token-script: #ffcb8b;
  --token-selector: #c85e7c;
  --token-attr-name: #b392f0;
  --token-attr-value: #52b7ff;
  --token-function-variable: #b392f0;
  --token-black: #ffffff;
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --animate-marquee: marquee var(--duration) infinite linear;
  --animate-marquee-vertical: marquee-vertical var(--duration) linear infinite;
  @keyframes marquee {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - var(--gap)));
    }
  }
  @keyframes marquee-vertical {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(calc(-100% - var(--gap)));
    }
  }
}

[class^="number-slide"],
[class*=" number-slide"] {
  background: grey;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  color: #fff;
  font-weight: 500;
  height: 300px;
  max-height: 100vh;
}

.number-slide1 {
  background: rgb(64, 175, 255);
  background: linear-gradient(
    128deg,
    rgba(64, 175, 255, 1) 0%,
    rgba(63, 97, 255, 1) 100%
  );
}

.number-slide2 {
  background: rgb(255, 75, 64);
  background: linear-gradient(
    128deg,
    rgba(255, 154, 63, 1) 0%,
    rgba(255, 75, 64, 1) 100%
  );
}

.number-slide3 {
  background: rgb(182, 255, 64);
  background: linear-gradient(
    128deg,
    rgba(182, 255, 64, 1) 0%,
    rgba(63, 255, 71, 1) 100%
  );
  background: linear-gradient(
    128deg,
    rgba(189, 255, 83, 1) 0%,
    rgba(43, 250, 82, 1) 100%
  );
}

.number-slide4 {
  background: rgb(64, 255, 242);
  background: linear-gradient(
    128deg,
    rgba(64, 255, 242, 1) 0%,
    rgba(63, 188, 255, 1) 100%
  );
}

.number-slide5 {
  background: rgb(255, 64, 156);
  background: linear-gradient(
    128deg,
    rgba(255, 64, 156, 1) 0%,
    rgba(255, 63, 63, 1) 100%
  );
}

.number-slide6 {
  background: rgb(64, 76, 255);
  background: linear-gradient(
    128deg,
    rgba(64, 76, 255, 1) 0%,
    rgba(174, 63, 255, 1) 100%
  );
}

.navigation-wrapper {
  position: relative;
}

.dots {
  display: flex;
  padding: 10px 0;
  justify-content: center;
}

.dot {
  border: none;
  width: 10px;
  height: 10px;
  background: #c5c5c5;
  border-radius: 50%;
  margin: 0 5px;
  padding: 5px;
  cursor: pointer;
}

.dot:focus {
  outline: none;
}

.dot.active {
  background: #000;
}

.arrow {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  fill: #fff;
  cursor: pointer;
}

.arrow--left {
  left: 5px;
}

.arrow--right {
  left: auto;
  right: 5px;
}

.arrow--disabled {
  fill: rgba(255, 255, 255, 0.5);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
